/* CSS for the editor. */
/* Width of the editor, inlcuding toolbar & everything */
#contentView {
  width: 79vw;
}

/* Wraps around the toolbar */
#wrapper {
  border: var(--largeBorder);
  border-radius: var(--roundedLarge);
}

/* Editor toolbar */
#toolbar {
  border-bottom: var(--largeBorder);
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items:normal;
}

/* Formatting options within the toolbar. */
#format {
  display: flex;
}

/* Function options (saving) within the toolbar. */
#function {
  display: flex;
}

/* Button to edit the title of a document. */
#editTitleButton {
  margin-left: 20px;
}

/* Input field that shows up when you rename a file. */
.renameInput {
  border: none;
  outline: none;
  background-color: var(--defaultBackgroundColor);
  font-size: x-large;
  font-weight: bold;
  color: #000000;
}

/* Buttons without a border. */
.borderlessButton {
  vertical-align: middle;
  height: 10%;
  padding: 3px;
  border-radius: var(--roundedQuarterPercent);
  cursor: pointer;
}
.borderlessButton:hover {
  background-color: var(--hoverColor);
}

/* Buttons on the toolbar. */
.toolbarButton {
  width: 35px;
  height: 35px;
  margin: var(--smallMargin);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkerBackgroundColor);
  cursor: pointer;
}

/* Icons for the buttons on the toolbar. */
.toolbarIcon {
  width: 25px;
  height: 25px;
}

.toolbarButton:hover {
  background-color: var(--hoverColor);
}
.toolbarButton:hover > .toolbarIcon {
  width: 31px;
  height: 31px;
}

/* Submenu & helptext styling. */
.submenu,
.helpText {
  border: var(--mediumBorder);
  border-radius: var(--roundedMedium);
  background-color: var(--darkerBackgroundColor);
  padding: var(--smallPadding);
  display: flex;
  flex-wrap: wrap;
}

/* A button is active when its not hovered over but its submenu is open. */
.activeButton {
  background-color: var(--selectedColor);
}

/* The prosemirror is TipTap's editor class. */
.ProseMirror {
  width: 794px;
  max-width: 794px;
  padding: 75px;
  margin: 0 auto;
  border: none;
  outline: none;
  height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid #bababa;
}

/* Resizing circles for images. */
[data-resize-handle] {
  position: absolute;
  z-index: 10;
  width: 5px;
  height: 5px;
  border: 2px solid #bababa;
  border-radius: 50%;
}

.ProseMirror.resize-cursor {
  cursor: col-resize;
}

.ProseMirror .column-resize-handle {
  cursor: col-resize;
}
