/* CSS for the editor. */
/* Width of the editor, inlcuding toolbar & everything */
#contentView {
  width: 79vw;
}

/* Wraps around the toolbar */
#wrapper {
  border: 3px solid #000;
  border-radius: 8px;
}

/* Editor toolbar */
#toolbar {
  border-bottom: 3px solid #000;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

/* Vertical separator on the toolbar */
hr.vertical {
  width: 1px;
  height: auto;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  background-color: #000;
}

/* Formatting options within the toolbar. */
#format {
  display: flex;
}

/* Function options (saving) within the toolbar. */
#function {
  display: flex;
}

/* Button to edit the title of a document. */
#editTitleButton {
  margin-left: 20px;
}

/* Input field that shows up when you rename a file. */
.renameInput {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: x-large;
  font-weight: bold;
  color: #000;
}

/* Buttons without a border. Currently only used for the rename buttons. */
.borderlessButton {
  vertical-align: middle;
  height: 10%;
  padding: 3px;
  border-radius: 25%;
  cursor: pointer;
}
.borderlessButton:hover {
  height: 12%;
  background-color: #3cb372cc;
}

/* Buttons on the toolbar. */
.toolbarButton {
  width: 35px;
  height: 35px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  cursor: pointer;
}

/* Icons for the buttons on the toolbar. */
.toolbarIcon {
  width: 25px;
  height: 25px;
}

.toolbarButton:hover {
  background-color: #3cb372cc;
}
.toolbarButton:hover > .toolbarIcon {
  width: 31px;
  height: 31px;
}

/* Submenu & helptext styling. */
.submenu,
.helpText {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #e1e1e1;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}

/* A button is active when its not hovered over but its submenu is open. */
.activeButton {
  background-color: #84ecb3;
}

/* The prosemirror is TipTap's editor class. */
.ProseMirror {
  width: 794px;
  max-width: 794px;
  padding: 75px;
  margin: 0 auto;
  border: none;
  outline: none;
  height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid #bababa;
}

/* Resizing circles for images. */
[data-resize-handle] {
  position: absolute;
  z-index: 10;
  width: 5px;
  height: 5px;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 50%;
}
