/* Variables */
:root {
  /* Font sizes */
  --defaultFontSize: 16px;
  --h1FontSize: 32px;
  --h2FontSize: 24px;
  --h3FontSize: 20px;
  --codeFontSize: 12px;
  /* Font margins */
  --h1MarginTop: 2px;
  --h1MarginBottom: 5px;
  --h2MarginTop: 1px;
  --h2MarginBottom: 3px;
  --h3MarginBottom: 1px;
  /* Tables */
  --tableCellPadding: 8px;
  --tableTextAlign: left;
  --tableHeadColor: #ebebeb;
  /* Code Blocks */
  --codeBlockBackgroundColor: #222222;
  --codeBlockDefaultFontColor: #ffffff;
  /* Lists */
  --ulMargin: 0px;
  --olMargin: 0px;
  --taskListMargin: 0px;
}

/* Format styling for the editor & export */
.export-content,
.Prosemirror {
  width: 794px;
  max-width: 794px;
  font-size: var(--defaultFontSize);
  font-family: "Calibri", sans-serif !important;
  font-weight: 500;
  color: #000000;
}

.export-content h1,
.ProseMirror h1 {
  font-size: var(--h1FontSize) !important;
  margin-top: var(--h1MarginTop);
  margin-bottom: var(--h1MarginBottom);
}

.export-content h2,
.ProseMirror h2 {
  font-size: var(--h2FontSize) !important;
  margin-top: var(--h2MarginTop);
  margin-bottom: var(--h2MarginBottom);
}

.export-content h3,
.ProseMirror h3 {
  font-size: var(--h3FontSize) !important;
  margin-bottom: var(--h3MarginBottom);
}

.export-content p,
.ProseMirror p {
  font-size: var(--defaultFontSize) !important;
  margin: 0;
}

.export-content table,
.ProseMirror table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.export-content th,
.export-content td,
.ProseMirror th,
.ProseMirror td {
  border: 1px solid #cccccc;
  padding: var(--tableCellPadding);
  text-align: var(--tableTextAlign);
}

.export-content th,
.ProseMirror th {
  background-color: var(--tableHeadColor);
  font-weight: bold;
}

.export-content code,
.ProseMirror code {
  background-color: #cdcdcd;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: var(--codeFontSize);
}

.export-content pre,
.ProseMirror pre {
  background-color: var(--codeBlockBackgroundColor);
  border-radius: 1px;
  max-width: 100%;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.export-content pre code,
.ProseMirror pre code {
  background-color: inherit;
  color: var(--codeBlockDefaultFontColor);
  padding: 0;
}

ul {
  margin-top: var(--ulMargin);
  margin-bottom: var(--ulMargin);
}

ol {
  margin-top: var(--olMargin);
  margin-bottom: var(--olMargin);
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: center;
  gap: 2px;
}

ul[data-type="taskList"] li > label {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  display: inline;
}
