/* CSS for the settings page */
/* Title area */
#titleBar {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  align-items: center;
}

#saveSettingsButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  margin-right: 2%;
  height: auto;
  padding: 0.4%;
  border: 2px solid #000000;
  border-radius: 5px;
}
#saveSettingsButton img {
  margin-right: 10px;
}

/* Margin for the separator between sidebar & page. */
hr.separator {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

/* Page view */
#settingsView {
  display: flex;
  height: 80vh;
}

/* Sidebar styling */
#settingsSidebar {
  width: 19vw;
  max-width: 350px;
  height: inherit;
  border: 3px solid #000000;
  overflow-y: auto;
  padding-bottom: 5px;
  border-radius: 10px;
}

/* Page where all the Settings are shown */
#settingsPage {
  width: 80vw;
  height: inherit;
  border: 3px solid #000000;
  overflow-y: auto;
  padding-bottom: 5px;
  border-radius: 10px;
  overflow-y: auto;
}

/* A tab within the settings sidebar. */
.tab {
  display: flex;
  align-items: center;
  width: 80%;
  height: 4%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: #eeeeee;
  border: 3px solid #000000;
  border-radius: 5px;
}

.tabIcon {
  margin-left: 5px;
}

.tab p {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

.tabHighlight {
  background-color: #84ecb3;
}

/* The title of a group within the settings page */
.settingGroup {
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 4px 12px;
  padding: 8px;
}

.settingGroupTitle {
  display: flex;
  align-items: center;
}

.settingGroupTitle p {
  font-size: 20px;
  margin-left: 10px;
}

.groupIcon {
  height: 30px;
}

/* A setting within the settings page. */
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: 7px;
  padding: 3px;
}

/* Info to a setting. */
.settingInfo {
  max-width: 60%;
}
.settingTitle {
  font-size: 18px;
}
.settingDescription {
  font-size: 14px;
}
.settingDefault {
  margin-top: 7px;
}

.settingValue {
  margin-right: 5%;
}
/* Button styling */
.button {
  height: auto;
  width: max-content;
  padding: 5%;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
