/* Sidebar CSS */
#sidebar {
  width: 19vw;
  height: 95vh;
  margin-right: 1vw;
  border: var(--largeBorder);
  border-radius: var(--roundedLarge);
  overflow-y: auto;
  padding-bottom: 5px;
}

/* The root button is the button to create a new notebook. */
#rootButton {
  background-color: var(--darkerBackgroundColor);
  margin: var(--itemMargin);
  width: 96%;
  cursor: pointer;
  border-radius: var(--roundedMedium);
}
#rootButton:hover {
  background-color: var(--hoverColor);
}

/* Wraps around an element on the sidebar (icon + name & stuff). */
.wrapper {
  display: flex;
  margin: var(--itemMargin);
}

/* Search field at the top of the sidebar. */
.searchField {
  display: flex;
  outline: none;
  border: var(--mediumBorder);
  border-radius: var(--roundedMedium);
  width: var(--itemWidth);
}

/* Files & folders on the sidebar. */
.folder,
.file {
  display: flex;
  background-color: var(--darkerBackgroundColor);
  border-radius: var(--roundedMedium);
  padding-left: 5px;
  margin: inherit;
  margin: var(--itemMargin);
  width: var(--itemWidth);
  height: 100%;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}
.file:hover {
  background-color: var(--hoverColor);
}

/* Icons & buttons on the sidebar. */
.sidebarIcon,
.sidebarButton {
  height: 10%;
  vertical-align: middle;
  margin-left: 5px;
}

.sidebarButton {
  cursor: pointer;
}

/* A hoverbutton only appears when its parent element is hovered over. */
.hoverButton {
  display: none;
}

/* Shows the .hoverButton when a file or folder is hovered over. */
.file:hover .hoverButton,
.folder:hover .hoverButton {
  cursor: pointer;
  vertical-align: middle;
  height: 17px;
  border-radius: var(--roundedQuarterPercent);
  background-color: var(--hoverColor);
  display: inline;
}

/* File / folder creation dropdown */
.creationDropdown {
  background-color: var(--darkerBackgroundColor);
  padding: var(--smallPadding);
  border: var(--mediumBorder);
  border-radius: var(--roundedMedium);
}

.creationDropdownOption:hover {
  padding: var(--smallPadding);
  cursor: pointer;
  background-color: var(--hoverColor);
  border-radius: var(--roundedSmall);
}

/* File which is currently slected is highlighted on the sidebar. */
.selected {
  background-color: var(--selectedColor);
}
