body {
  font-family: "Calibri", sans-serif;
  font-weight: 500;
}

a {
  cursor: pointer;
}

/* Vertical separator */
hr.vertical {
  width: 2px;
  height: inherit;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  background-color: #000000;
}

.hidden {
  display: none;
}

/* Class with special properties when hovered over. */
.hoverClass {
  cursor: pointer;
}
.hoverClass:hover {
  background-color: #3cb372cc !important;
}

/* Makes the entire app's parent display a flex. */
#view {
  display: flex;
}

/* Settings button */
#settingsButton {
  height: 4%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* Modal CSS */
/* Modal body */
.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  background-color: #eeeeee;
  border: 3px solid #575757;
  border-radius: 8px;
  z-index: 17;
  padding: 10px;
}

/* Input field within a modal. */
.inputField {
  margin: 5px;
  background-color: #dddddd;
  width: 90%;
}

/* Field which contains buttons within a modal. */
.modalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

/* Buttons within the field for buttons within a modal. */
.modalButton {
  cursor: pointer;
  vertical-align: middle;
}

/* A button within a modal with text written on it instead of an icon. */
.modalTextButton {
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 3px;
  padding: 2px;
}

/* The background that shows up when a modal is created. */
.clickable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  z-index: 10;
}

/* Highlighting buttons within modals. */
.highlight {
  background-color: #3cb372cc;
}

/* Error message within modals. */
.errorMsg {
  color: #ff0000;
}
