/*
Original file provided by hightlight.js package. Modified to preferred style.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/
.hljs {
  background: #272822;
  color: #ddd
}

.hljs-tag,
.hljs-selector-tag,
.hljs-strong,
.hljs-string.hljs-subst,
.hljs-name {
  color: #fe1e5d
}

.hljs-code,
.hljs-title.class_,
.hljs-property {
  color: #66d9ef
}

.hljs-attribute,
.hljs-attr,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db
}

.hljs-bullet,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e
}

.hljs-class .hljs-title,
.hljs-literal,
.hljs-keyword,
.hljs-number {
  color: rgb(141, 145, 255)
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #a1a1a1
}

.hljs-keyword {
  font-style: italic;
}

.hljs-string {
  color: #fcda00;
}

.hljs-params {
  color: rgb(255, 145, 1);
}
